@import '../../../../shared/styles/mixins';

$input_color: white;
$input_border_size: 3px;
$input_main_color: #083e53;

.pfInputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-height: 70px;
  margin-bottom: 2%;
}


.input-label {
  font-size: 1.2em;
}
.required-from-field {
  font-size: 1.1em;
  font-weight: bold;
  cursor: help;
}

.inputWrapp {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  @include phones() {
    flex-direction: column;
  }
}

.textInput {
  background-color: transparent;
  border: none;
  font-size: 1.2em;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  background: $input_main_color;
  color: $input_color;
  border-bottom: $input_border_size solid white;

  &:focus {
    border-bottom: $input_border_size solid $input_color;
  }

  @include phones() {
    padding: 15px 0;
  }
}

.error {
  color: red;
  height: 25px;
}
