.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  background-image: linear-gradient(
                  to bottom,
                  #6480aa,
                  #2c7993,
                  #136f6e,
                  #2d6046,
                  #414e25
  );
}

.main {
  position: relative;
  flex: 1 0 auto;
}