@import '../styles/variables.scss';

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  background-image: $bg_main_gradient;
}

.main {
  position: relative;
  flex: 1 0 auto;
}
