.cart-page {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
}

.section-buy {
  display: flex;
  flex-flow: column;
  width: 80%;
  align-items: flex-end;
  height: 80px;
  justify-content: space-around;
  margin-bottom: 5%;
}

.total-price {
  font-size: 1.1em;
  color: aliceblue;
  font-weight: bold;
}