@import '../../../shared/styles/mixins';

.form {
  width: 400px;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  justify-content: space-between;
  background: white;
  padding: 5% 2%;
  margin-bottom: 5%;

  @include phones(){
    width: 90%;
  }
}

.form-label {
  font-size: 1em;
  font-weight: 600;
}

.form-item {
  display: flex;
  justify-content: space-between;
}

.form-select {
  margin-bottom: 7%;
  height: 30px;
}

.form-shipping-total {
  text-align: center;
  margin: 7% 0 0 0;
  font-weight: 600;
  font-family: sans-serif;
}

.pay-button {
  box-shadow: inset 0px 1px 0px 0px #9acc85;
  background: linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
  background-color: #74ad5a;
  border: 1px solid #3b6e22;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 9px 18px;
  text-decoration: none;
  cursor: pointer;
}

.pay-button:hover {
  background: linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
  background-color: #68a54b;
}

.pay-button:active {
  position: relative;
  top: 1px;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
