.actionButton {
  border: none;
  user-select: none;
  background: #5872bf;
  color: white;
  height: 40px;
  cursor: pointer;
  font-size: 1.1em;
  outline: none;
}

.disabledButton {
  opacity: 0.6;
  cursor: not-allowed;
}
